# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

img/1.jpg
img/11.jpg
img/13.jpg
img/2.jpg
img/29_default_lock_wallpape_1.jpg
img/avatar.png
img/avatar@2x.png
img/c9872a4995e4d075f997c5ac9fe396f0.jpg
img/github.png
img/home.png
img/home-red.png